html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    background-color: rgb(75, 75, 214);
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.main {
    width: 100%;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px black;
    user-select: none;
}

.top {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    input {
        padding: 1rem;
        width: 100%;
        font-size: 1.8rem;
        border: 0;
        border-bottom: 2px solid blue;
        &:focus {
            outline: 0;
        }
    }
    button {
        // width: 10rem;
        height: 4rem;
        border: 0;
        padding: 0 3rem;
        border-radius: 2rem;
        font-size: 1.8rem;
        color: #fff;
        background-color: blue;
        &:active {
            opacity: 0.6;
        }
        box-shadow: 1.5px 1px 2px 1px black;
    }
}

.bottom_img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_img img {
    border-radius: 1rem;
    // border: 1px solid black;
    box-shadow: 0rem 0rem 5px 0.1px black;
    width: 100%;
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}